
body {
    font: 13pt/1.5 "Helvetica Neue", Arial, sans-serif;
    background-image: url('https://source.unsplash.com/category/nature');
    background-size: cover;
    background-repeat: no-repeat;
}

#leftBar {
    font-family: 'Libre Franklin', sans-serif;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
}

#showTime {
    font-size: 80px;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
}

#showGreetings{
    color: white;
    font-size: 40px;
}

#menu {
    margin-top: 3;
    padding: 2%;
    background-color: rgba(0,0,0,0.2);
}

#menuButton {
    color: white;
    cursor: hand;
    margin: 2%;
    padding: 2%;
    background-color: rgba(0,0,0,0.2);
    font-size:20px;
}

.settings{
    width: 50%;
    height: 50px;
    margin: 5% auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.innerFormSize{
    padding-right: 10%;
}